@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';


.container {
  width: 100%;

  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;

    @media screen and (max-width: 1200px) {
      margin-bottom: 0rem;
    }
  }

  .settingsContainer {
    height: 100%;

    .backBtn {
      display: flex;
      align-items: center;
      @include font-sm-avenir-regular;
      color: $gray;
      padding-top: 113px;
      cursor: pointer;

      img {
        margin-right: 0.5rem;
      }
    }

    .settings {
      padding-top: 0.5rem;
      color: $white;
      text-align: left;
      @include font-8xl-neuropolitical-normal;
      // font-size: 76px;
      line-height: 110%;

      h1 {
        font-size: 76px;
      }
    }
  }

  .withdrawalContainer {
    width: 100%;
    // height: 60.5vh;
    // height: calc(100vh - 480.12px);
    display: flex;
    justify-content: center;
    align-items: center;

    .withdrawalInnerContainer {
      width: 33.75rem;
      margin-top: 2rem;
    }

    div {
      div {
        label {
          padding: 20px !important;
        }
      }
    }
  }
}

.optionsContainer {
  display: flex;
  padding-bottom: 10px;
  .collectionImage {
    border-radius: 12px
  }

  .collectionTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

    .collectionOptionText1 {
      @include font-md-avenir-medium;
      color: white;
    }
    .napaGrayIcon{
      padding-right: 5px;
      
    }
    .collectionOptionText2 {
      @include font-sm-avenir-regular;
      color: #677778;
    }
  }
}
.custom-select .select__menu {
  /* Apply styles to the menu/list element */
  /* Example styles */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

.MiddleCont {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  label {
    @include font-md-avenir-regular;
    font-size: 14px;
    line-height: 140%;
    color: #91a5a6;
    margin-bottom: 15px;
  }

  .MiddleContInn {
    display: flex;
    align-items: center;

    h3,
    input {
      @include font-6xl-neuropolitical-normal;
      font-size: 44px;
      line-height: 110%;
      text-align: center;
      color: #ffffff;
      margin-bottom: 0;
      background: transparent;
      border: none;
      width: 365px;
      //   margin-left: -70px;
      outline: none;
      text-align: right;
    }

    span {
      height: 50px;
      width: 2px;
      //   background: #91a5a6;
      margin: 0 30px 0 2px;
    }

    p {
      position: relative;
      @include font-md-avenir-regular;
      font-size: 18px;
      line-height: 25px;
      color: #91a5a6;
      margin-bottom: 0px;
      top: 12px;
    }
  }
}

.totalBalanceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.totalBalanceText {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #91a5a6;
}

.totalBalanceIconContainer {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  padding-left: 20px;
}

.BottomAction {
  margin-top: 20px;

  // button {
  //     width: 100%;
  //     font-size: 18px;
  //     line-height: 110%;
  //     height: 72px;
  //     transition: all 0.2s ease-out;

  //     &:hover {
  //         background: #16e6ef;
  //         color: #102324;
  //     }
  // }
  .actionBtn {
    margin-top: 2.5rem;
    color: $hover-links;
    background-color: transparent;
    border: 1px solid $hover-links;
    width: 100%;
    @include font-md-neuropolitical-normal;
    padding: 1.5rem;
    border-radius: 5rem;
    outline: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: $black;
      background-color: $hover-links;
    }
  }
}

.dropdownContainer {

  // margin-bottom: -38px;
  .FrstInput {
    div {
      label {
        padding: 20px !important;
      }
    }
  }
}


.line1 {
  border: 1px solid #91a5a6 !important;
  margin-bottom: 2rem !important;
}

.networkFeeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #91a5a6;

  .networkText {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  .networkText1 {
    font-family: Avenir;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
  }
}


@media screen and (max-width: 425px) {
  .container{
  .settings {
    h1 {
      font-size: 40px !important;
    }
  }
  
  .withdrawalInnerContainer {
    width: 18.75rem !important;
  }
}
.MiddleContInn {
  h3,
  input {
    width: 284px !important;
  }
}
}

// @media screen and (max-width: 1024px) {
//     .withdrawalContainer {
//         margin-bottom: 5.5rem;
//     }
// }

// @media screen and (max-width: 1440px) {
//     .withdrawalContainer {
//         // height: 55.5vh !important;
//         margin-bottom: 2.5rem !important;
//     }
// }